.main-card {
  display: flex;
  justify-content: space-between;
  float: left;
  flex-wrap: wrap;
  margin-left: 25px;
  
}
.card {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 16px;
  background-color: #fff;
}

.card-image {
  width: 100px;
  height: 100px;
}

.card-content {
  text-align: center;
  margin-left: 26px;
  text-align: left;
}

.card-category {
  color: #000;
  margin: 0;
  width: 20ch;
}

.card-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #000;
}
.card-label {
  font-size: 14px;
  color: #757575;
  margin: 0;
}

.card-colors {
  font-size: 14px;
  color: #757575;
  margin: 0;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-top: 0;
}
.Products-Just-For-You-txt {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 40px;
  color: #000;
  margin-bottom: 2px;
}
